<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>badge</title>
    <link href="./assets/css/style.css" rel="stylesheet" />
    <link href="./assets/css/fonts.css" rel="stylesheet" />
  </head>
  <body>
    <p>سلام</p>
    <span class="badge badge--primary">15%OFF</span>
    <span class="badge badge--secondary">15%OFF</span>
  </body>
</html>
