<section  class="container block">
  <h2 class="block-heading">  تماس با ما  </h2>
  <section class="contact-us " >
    <div class="contact-us__social" >
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/icon-svg-splite.svg#linkedin"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/icon-svg-splite.svg#facebook"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/icon-svg-splite.svg#twitter"
            ></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="contact-us__icons" >
      <div class="icon-holder">
        <span class="icon-holder__label">
  کرج، 45متری گلشهر پلاک 127          </span>
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/icon-svg-splite.svg#Location"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-holder__label">
  malihe.ebrahiminejad@gmail.com          </span>
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/icon-svg-splite.svg#Message"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-holder__label">
          (98) 915000000
        </span>
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/icon-svg-splite.svg#Calling"
            ></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="contact-us__map" >
      <img src="/Tapsi/assets/images/mymap.webp">
      <!-- <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.9011889423177!2d50.93672331460854!3d35.826899980160604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ee1fef8069527b8!2zMzXCsDQ5JzM2LjgiTiA1MMKwNTYnMjAuMSJF!5e0!3m2!1sen!2s!4v1658900208622!5m2!1sen!2s"
          width="600"
          height="450"
          style="border: 0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div> -->
    </div>
    <div
      class="contact-us__forrm"
    >
      <div class="form-wrapper">
        <h3 >نظرات شما</h3>
        <form action="">
          <input type="text" placeholder="نام و نام خانوادگی">
          <input type="email" placeholder="ایمیل خود را وارد کنید" dir="ltr">
          <textarea placeholder="پیام شما"></textarea>
          <button class="btn btn--primary ">ارسال</button>
        </form>
      </div>
    </div>
  </section>
</section>
