<footer class="main-footer block">
  <div class="container ">
    <div class="footer__item__container">
      <div class="footer__brand">
        <a href="https://tapsi.ir">
          <img
            class="tapsi-logo"
            src="assets/images/tapsi-logo-white.svg"
            alt=""
          />
        </a>
        <a href="https://tapsi.ir">اپلیکیشن درخواست خودرو و پیک</a>
        <p class="copy-right">تمامی حقوق مادی متعلق به سایت تپسی است.</p>
      </div>
      <div class="footer__item">
        <h6>تپسی</h6>
        <a
          href="https://blog.tapsi.ir/?_gl=1*14g07qa*_ga*MTM2OTY0NTgyNS4xNjU4OTA2MDA3*_ga_0F24611KVS*MTY1ODk3NzgxMi4zLjEuMTY1ODk3ODQwMi4w"
        >
          وبلاگ تپسی
        </a>
        <a href="https://careers.tapsi.ir/">فرصت شغلی</a>
        <a href="https://tapsi.ir/contact">تماس با ما</a>
        <a href="https://tapsi.ir/brand">لوگو و هویت سازمانی</a>
        <a href="https://tapsi.ir/affiliate">معرفی راننده به تپسی</a>
      </div>
      <div class="footer__item">
        <h6>مسافران</h6>
        <a href="https://tapsi.ir/passengers/dl">دانلود اپ مسافر</a>
        <a href="https://app.tapsi.cab">ثبت نام راننده تاکسی اینترنتی  </a>
        <a href="https://tapsi.ir/passengers/faq">
          پرسش‌های متداول مسافران
        </a>
        <a href="https://tapsi.ir/terms/passengers">
          شرایط و قوانین مسافران
        </a>
        <a href="https://tapsi.ir/spaceship/">باشگاه مشتریان</a>
      </div>
      <div class="footer__item">
        <h6>رانندگان</h6>
        <a href="https://tapsi.ir/passengers/dl">دانلود اپ سفیر</a>
        <a href="https://app.tapsi.cab">نسخه وب تپسی</a>
        <a href="https://tapsi.ir/passengers/faq">
          پرسش‌های متداول سفیران
        </a>
        <a href="https://tapsi.ir/terms/passengers">
          شرایط و قوانین سفیران
        </a>
        <a href="https://tapsi.ir/spaceship/">باشگاه سفیران</a>
      </div>
      <div class="footer__item">
        <h6>کسب و کارها</h6>
        <a href="https://tapsi.ir/passengers/dl">پنل سازمانی تپسی  </a>
        <a href="https://app.tapsi.cab">خرید کد اعتیار و تخفیف  </a>
        <a href="https://tapsi.ir/passengers/faq">
دریافت API        </a>
      </div>
      <div class="footer__item">
        <div class="trust__container">
          <div class="trust__item">
            <img
              src="/Tapsi/assets/images/logo-etehadiye.png"
              alt="logo-etehadiye"
            />
          </div>
          <div class="trust__item">
            <img
              src="/Tapsi/assets/images/logo-samandehi.png"
              alt="logo-samandehi"
            />
          </div>
          <div class="trust__item">
            <img
              src="/Tapsi/assets/images/logo-namad.png"
              alt="logo-namad-electronic"
            />
          </div>
        </div>
      </div>
    </div>
  <p class="copy-right-mobile " >
    تمامی حقوق مادی متعلق به سایت تپسی است.
  </p>
  <div class="social-container " >
    <h3 class="social-container__text " >تپسی در شبکه های اجتماعی</h3>
    <div class="contact-us__social" >
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/svg-sprite-footer.svg#facebook"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/svg-sprite-footer.svg#instagram"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/svg-sprite-footer.svg#twitter"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/svg-sprite-footer.svg#linkedin"
            ></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-container">
          <svg class="icon">
            <use
              xlink:href="/Tapsi/assets/images/svg-sprite-footer.svg#telegram"
            ></use>
          </svg>
        </span>
      </div>
      </div>
      </div>
      </div>
</footer>