<section class="hero-section ">
  <picture>
    <source srcset="https://tapsi.ir/images/home/banner.webp" type="image/webp" media="(min-width: 768px)">
    <source srcset="https://tapsi.ir/images/home/banner.jpg" type="image/jpg" media="(min-width: 768px)">
    <source srcset="https://tapsi.ir/images/home/banner-mobile.webp" type="image/webp" media="(max-width: 768px)">
    <source srcset="https://tapsi.ir/images/home/banner-mobile.jpg" type="image/jpg" media="(max-width: 768px)">
    <img alt="banner" src="https://tapsi.ir/images/home/banner.jpg" class="banner-img">
 </picture>
 <picture >
  <source srcset="https://tapsi.ir/images/home/mockup-phone.webp" type="image/webp" media="(min-width: 1024px)" data-aos="fade-up"
  data-aos-duration="1000">
  <source srcset="https://tapsi.ir/images/home/mockup-phone.png" type="image/png" media="(min-width: 1024px)"data-aos="fade-up"
  data-aos-duration="1000">
  <img alt="house" class="banner-phone" data-aos="fade-up"
  data-aos-duration="1000">
</picture>
<div class="hero-wrapper container">
<h1>تپسی</h1>
<h2>اپلیکیشن درخواست خودرو</h2>
<div class="intro-btn">

<div class="intro-btn__passenger intro-btn__center">
 <span class="icon">
   <svg class="icon">
  <use xlink:href="/Tapsi/assets/images/hero-icon.svg#bxs_cloud-download"></use>
</svg></span>
 <p>دانلود اپلیکیشن مسافران</p>
</div>
<div class="intro-btn__passenger intro-btn__center">
<span class="icon"><svg class="icon">
  <use xlink:href="/Tapsi/assets/images/hero-icon.svg#bxs_cloud-download"></use>
</svg></span>
<p>وب اپلیکیشن مسافران</p>
</div>
<div class="intro-btn__driver intro-btn__center">
<span class="icon"><svg class="icon">
  <use xlink:href="/Tapsi/assets/images/hero-icon.svg#bx_cloud-download"></use>
</svg></span>
<p>دانلود اپلیکیشن رانندگان</p>
</div>
<div class="intro-btn__driver intro-btn__center">
<span class="icon"><svg class="icon">
  <use xlink:href="/Tapsi/assets/images/hero-icon.svg#car"></use>
</svg></span>
<p>ثبت نام راننده</p>
</div>
</div>

</div>

</section>