<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./assets/css/style.css" rel="stylesheet" />
    <link href="./assets/css/fonts.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section class="container block">
        <div class="select-type">
            <div class="select-container">
              <input type="radio" id="select__item1" name="webinar" />
              <label for="select__item1">عمومی</label>
            </div>
            <div class="select-container">
              <input type="radio" id="select__item2" name="webinar" />
              <label for="select__item2">اختصاصی</label>
            </div>
          </div>
    </section>
   
  </body>
</html>
