<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.flex-sample{display: flex;
flex-direction: column;
align-items: center;
}
.flex-item2{
    transform: translate(10px, -60px);

}

    </style>
</head>
<body>
    <div class="flex-sample">
        <div class="flex-item1" style="background-color: gold; width: 100px; height: 200px; border:1px solid red;"></div>
        <div class="flex-item2" style="background-color: green; width: 100px; height: 200px;border:1px solid blue;"></div>
    </div>
</body>
</html>