<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       @font-face {
  font-family: 'IRANYekan';
  font-weight: 400;
  src: 
       url("/Tapsi/assets/IRANYekanWebRegular/IRANYekanWebRegular.woff") format('woff');
}
@font-face {
  font-family: 'IRANYekan';
  font-weight: 700;

  src: 
       url("/Tapsi/assets/IRANYekanWebBold/IRANYekanWebBold.woff") format('woff');
}

body{
    font-family: 'IRANYekan';
}

    </style>
</head>
<body>
    سلام عزیزم
    <h1>سلام گلم</h1>
</body>
</html>