<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travell</title>
    <link href="./assets/css/style.css" rel="stylesheet" />
    <link href="./assets/css/fonts.css" rel="stylesheet" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css
    "
      rel="stylesheet"
    />
  </head>
  <body dir="rtl">
    <section class="travel container block">
      <h2 class="block-heading">  جوایز ویژه رانندگان</h2>
        <div class="travel__slides">
            <div class="travel__slide" >
                <div class="slide__image">
                  <img
                    src="/Tapsi/assets/images/travel/rolands-varsbergs.webp"
                    alt="rolands-varsbergs"
                  />
                </div>
                <div class="slide__details">
                  <div class="slide__header">
                    <span class="badge badge--primary">ویژه</span>
                    <p>اقامت رایگان &bullet; سفر پنج روزه</p>
                  </div>
                  <p class="slide__description">سفر به جزیره قشم  </p>
                  <div class="slide__icon">
                    <div >
                      <span>
                        <i class="fa fa-heart"></i>
                        ۱۲
                      </span>
                      <span>
                        <i class="fa fa-eye"></i>
                        ۴۶
                      </span>
                    </div>
                    <div >
                      <span><i class="fa fa-edit"></i></span>
                      <span><i class="fa fa-trash"></i></span>
                    </div>
                  </div>
                  <div class="avatar-group">
                    <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/may-gauthier.jpg" alt="may-gauthier"></div>
                    <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/foto-sushi.jpg" alt="foto-sushi"></div>
                    <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/jake-nackos.jpg" alt="jake-nackos"></div>
                    <div class="avatar__hidden">+۱۰</div>
                    <span class="avatar__text">پیشنهاد</span>
                  </div>
                </div>
            </div>
            <div class="travel__slide" >
              <div class="slide__image">
                <img
                  src="/Tapsi/assets/images/travel/pietro-de-grandi.webp"
                  alt="pietro-de-grandi"
                />
              </div>
              <div class="slide__details">
                <div class="slide__header">
                  <span class="badge badge--primary">ویژه</span>
                  <p>اقامت رایگان &bullet; سفر دو روزه</p>
                </div>
                <p class="slide__description">سفر به اردبیل </p>
                <div class="slide__icon">
                  <div >
                    <span>
                      <i class="fa fa-heart"></i>
                      ۱۲
                    </span>
                    <span>
                      <i class="fa fa-eye"></i>
                      ۴۶
                    </span>
                  </div>
                  <div >
                    <span><i class="fa fa-edit"></i></span>
                    <span><i class="fa fa-trash"></i></span>
                  </div>
                </div>
                <div class="avatar-group">
                  <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/christian-buehner.jpg" alt="jake-nackos"></div>
                  <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/foto-sushi.jpg" alt="foto-sushi"></div>
                  <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/michael-dam.jpg" alt="michael-dam"></div>
                  <div class="avatar__hidden">+۱۰</div>
                  <span class="avatar__text">پیشنهاد</span>
                </div>
              </div>
          </div>
          <div class="travel__slide" >
            <div class="slide__image">
              <img
                src="/Tapsi/assets/images/travel/dino-reichmuth.webp"
                alt="dino-reichmuth"
              />
            </div>
            <div class="slide__details">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان &bullet; سفر سه روزه</p>
              </div>
              <p class="slide__description">سفر به قلب کویر لوت</p>
              <div class="slide__icon">
                <div >
                  <span>
                    <i class="fa fa-heart"></i>
                    ۱۲
                  </span>
                  <span>
                    <i class="fa fa-eye"></i>
                    ۴۶
                  </span>
                </div>
                <div >
                  <span><i class="fa fa-edit"></i></span>
                  <span><i class="fa fa-trash"></i></span>
                </div>
              </div>
              <div class="avatar-group">
                <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/may-gauthier.jpg" alt="may-gauthier"></div>
                <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/foto-sushi.jpg" alt="foto-sushi"></div>
                <div class="avatar__img"><img src="/Tapsi/assets/images/avatar/jake-nackos.jpg" alt="jake-nackos"></div>
                <div class="avatar__hidden">+۱۰</div>
                <span class="avatar__text">پیشنهاد</span>
              </div>
            </div>
        </div>
        </div>
    </section>
      </body>
</html>
