@font-face {
  font-family: 'IRANYekan';
  font-weight: 400;
  src: 
       url("../fonts/IRANYekanWebRegular.woff") format('woff');
}
@font-face {
  font-family: 'IRANYekan';
  font-weight: 700;

  src: 
       url("../fonts/IRANYekanWebBold.woff") format('woff');
}

body,button,textarea{
    font-family: 'IRANYekan';
}