/* Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none;  */
}
/* root variable */
:root {
    --color-primary: #ff5722;
    --color-primary-light: #ff7a50;
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-body: #333333;
    --color-white: #fff;
    --color-icon-bgc:#f6f6f6;
    --avatar-size:50px;
  }
  html {
    font-size: 62.5%;
  }
  body {
    color: var(--color-body);
     font-size: 1.4rem;/* mobile-first */
     line-height: 1.7;

    
  }
  h1,h2,h3{
    color: var(--color-headings);
    font-weight: 700;
  }
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3.5rem;
      margin-bottom: 3rem;

    }}
    /* button */
    .btn{
      outline: 0;
      border: 0;
      font-size: 1.4rem;
      padding: 1.5rem 2.5rem;
      border-radius: 8px;
      margin: 1rem 0;
      text-align: center;
      cursor: pointer;
      white-space:nowrap;
    }
    .btn--primary{
      background-color: var(--color-primary);
      color: var(--color-white);
    }
    .btn--secondary{
      background-color: var(--color-secondary-dark);
      color: var(--color-white);
    }
    .btn--block{
      width: 100%;
      font-size: 1.6rem;

    }
    @media screen  and ( min-width:1024px){
      .btn{
        font-size: 1.6rem;
        padding: 1.5rem 3.5rem;
      }
      .btn--block{
        font-size: 2rem;
        }
    }
    /* badge */
    .badge{
      display: inline-block;
      border-radius: 32px;
      padding:  0.3rem 1.3rem;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    .badge--primary{
      background-color: var(--color-primary);
      color: var(--color-white);
    }
    .badge--secondary{
      background-color: var(--color-white);
border: 2px solid var(--color-primary); 
     color: var( --color-primary);
    }
    @media screen  and ( min-width:1024px){
      .badge{
        font-size: 1.4rem;
      }
      
    }
    /* list */
    .list{
      list-style: none;
      font-size: 1.8rem;
    }
    .list--inline .list__item{
      display: inline-block;
    margin-left: 3rem;
    }
    /* .list--tick1{
     list-style-image:  url(/Tapsi/assets/images/check\ 1.svg) ;
     padding-right: 4rem;  
     margin-bottom: 1.5rem;

    }
    .list--tick2 .list__item::before{
      content: "";
      width: 20px;
      height: 20px;
      background:url(/Tapsi/assets/images/check\ 1.svg) no-repeat;
      padding-right: 3rem; 
      margin-bottom: 1.5rem;
 

    }
    .list--tick3 .list__item{
      
      background:url(/Tapsi/assets/images/check\ 1.svg) no-repeat right center;
      padding-right: 3rem;
      margin-bottom: 1.5rem;

    } */
    .list--tick .list__item{
      
      background:url(../images/check\ 1.svg) no-repeat right center;
      padding-right: 3rem;
      margin-bottom: 1.5rem;

    }
    @media screen and (min-width: 768px) {
      .list--inline .list__item {
        font-size: 1.5rem;
      }
      .list--tick .list__item {
        margin-bottom: 2rem;
      }
    }
    /* plan */
    .plan-block{
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
      row-gap: 3rem;
    }
    @media screen and (min-width:768px){
      .plan-block{
        justify-content: space-around;
      }
    }
    .plan{ 
     background-color: var(--color-white);
     font-size: 1.8rem;
     transition: all 0.2s ease-in-out;
     
    }
    .card{
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 0 20px 10px hsla(0, 4%, 95%, 0.986);
    }
    .card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__header{
  color: var(--color-white);

}
.card--primary .card__header{   background-color: var(--color-primary-light);
}
.card--secondary .card__header{background-color: var(--color-secondary-dark);}
.plan__introduction{
  display: flex;
justify-content: space-between;
margin-bottom: 2rem;}
.plan__price{
  font-size: 3rem;
}
.plan__billing-cycle{
  font-size: 1.4rem;
}
.plan__description{
  margin-top: 1.5rem;
  display: block;
  font-size: 1.8rem;
}

.card__body{
  padding: 4rem 2.2rem;
}
.plan--popular{
  transform: scale(1.05);
}
.plan--popular:hover{
   transform: scale(1.1);
  }
.plan:hover{
  transform: scale(1.05);
}
.plan .btn--block{
  margin-top: 10rem;
}
.container{
  /* داخل فیگما این طول و عرضها را اندازه بگیریم */
  max-width: 1140px;
  margin: 0 auto;
}
/* feature section*/
.feature{
  display: grid;
  align-items: center;
  /* replace margin  */
}
.feature__image{
  /* AOS causing horizontal scroll bar to appear when browser window is sized under 1000px or so.. seems to happen on the data-aos="fade-right" and data-aos="fade-left". https://github.com/michalsnik/aos/issues/416  */
  overflow-x: hidden;
}

.feature__image > img{
 width: 70%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.feature__image{
  margin-bottom: 2.5rem;
}
.feature__text{
  margin-bottom: 4rem;
  text-align: justify;
}
@media screen and (min-width:768px) {
  

  .feature{
  grid-template-columns: repeat(2,1fr);
  gap:6rem 10rem;

}
.feature__image > img{
  width: 90%;
  
 }
.feature.reverse .feature__detail{
  order: 2;
  }
.feature__image{
  order: 1;
}
}
/* contact-section */
.contact-us{
  display: grid;
}
.contact-us__map{
  display:none;
}
@media screen and (min-width:1024px) {
  .contact-us{
    grid-template-areas:
     "address form"
    " map form"
    " icons form";
    grid-template-columns: 70fr 30fr ;
  }
  .contact-us__forrm {
    grid-area: form;
  }
  .contact-us__map {
    grid-area: map;
  }
  .contact-us__icons {
    grid-area: address;
  }
  .contact-us__social {
    grid-area: icons;
  }
  .contact-us__map{
    display:block;
  }
}
/* icons */
.icon{
  width: 25px;
  height: 25px;
  
}
.icon-container{
background-color:var(--color-icon-bgc);
  width:40px;
  height: 40px;
  display:  flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
cursor: pointer;
}
.icon-holder{
  display: flex;
  align-items: center;
  /* margin-bottom: 1.5rem;
  margin-top: 1rem; */
}
.contact-us__icons{

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.icon-holder__label{
  margin-left: 1rem;
}
@media screen and (min-width:1024px) {

  .contact-us__icons{

  flex-direction: row;
  align-items: flex-start;
  justify-content:space-between;
}
.icon-holder{
  flex-direction: column;
}
.icon-holder__label{
  order: 1;
  font-size: 1.4rem;
  margin-top: 1rem;
  
}
}
/* social-icon */

.contact-us__social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  column-gap: 1rem;
}
@media screen and (min-width:1024px) {

  .contact-us__social{justify-content: flex-end; margin-left: 1.5rem; margin-top: 0;
  }
}
/* image map */
/* .contact-us__map div{
  width:80%;
 margin-left: auto;
 margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
} */
.contact-us__map img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
/* form */
.contact-us__forrm{padding: 1rem;}
.form-wrapper  h3{
  padding:  2.5rem 0px 1.5rem 0px;;
 text-align: center;
}
.form-wrapper input,textarea{
  border: 0;
  outline: 0;
 border-radius: 39px;
 padding: 1.9rem 2rem;
 background-color: #e8e8e8;
 color: #868689;
}

.form-wrapper input:focus,textarea:focus{
  border: 1px solid var(--color-primary);
 
}
.form-wrapper textarea{
  border-radius: 0px;
  padding: 2rem 2.3rem;
  resize:none;
  height: 15rem;
  
 }
.form-wrapper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
/* max-width: 500px; */
  }
.form-wrapper form{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;  
}
/* footer */
.main-footer{
  background-color: #000;
  color: #fff;
  width: 100%;
  height: auto;
  font-size: 1.4rem;
}
 .social-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.social-container__text{
  margin-top: 2rem;
  color: #fff;
  font-size: 1.4rem;
  display: none;
}
.footer__item__container{
  display: flex;
  flex-direction: column;
flex-wrap: wrap;  
row-gap: 1rem;
}
.copy-right-mobile{
  display: block;
  color: #acacac;
  padding: 2.5rem 0;
}
.main-footer a{
  text-decoration: none;
  display: block;
  color:#fff
}
.main-footer a:visited{  color:#fff
}
.copy-right{
  display: none;
  color: #acacac;
}
.footer__brand{ 

  font-size: 1.2rem !important;
  margin-top: 1.5rem ;
margin-left: 2rem;
}

.footer__item {
  margin-top: 1.5rem ;
  margin-left: 2rem;}
.footer__item h6{ font-size: 2rem;
margin-bottom: 1rem;
margin-top: 0px;
/* font-weight: 700; */
}
.footer__item  a:hover{
  color: var(--color-primary);
}
.trust__container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    max-width: 100%;
width: 100%;

}
.trust__container img{
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 5px 0px;
}
.trust__item {
background-color: #fff;
border-radius: 10px;
max-width:120px;
margin-left: 0.5rem;

}
.main-footer .icon-container:hover{
  background-color: var(--color-primary);
      }
@media screen and (min-width:768px) {
  .footer__item__container{
    flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
    
  }
  .copy-right-mobile
  {display: none;}
  .copy-right
  { display: block; font-size: 1.2rem;
  }
  .trust__container{
    
justify-content: stretch;

  }
  .footer__brand{ 

    width: 15%;

  }
  footer .contact-us__social{justify-content: center; 
  }
  .trust__item {
    
    max-width:90px;
    
    }
    .social-container__text{display: block;}
    .social-container {
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    }
    footer .contact-us__social{column-gap: 1rem;}
}
/* mainheader */
/* nav */
.link{
  text-decoration: none;
  cursor: pointer;
}
body{
  margin-top: 60px;
}
.main-header{
  width: 100%;
  background-color:var(--color-navbar) ;
  border-bottom: 1px solid #ddd;
  padding: 1.5rem 2rem;
  position: fixed;
  top:0;
z-index: 1000;
  }
.main-header a{ color: #545454;}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color:var(--color-navbar) ;

}
 
.nav__list{

  width: 100%; 
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: flex-start;
 max-height: 0px; 
 overflow: hidden;
 /* SAHEB NEVESHTEH for transition*/
 opacity: 0;
 transition: all 0.3s ease-in-out;
}
.nav__list a:hover{
  color: var(--color-primary);
}
.nav.nav__expanded .nav__list{
  /* چرا vh  گذاشتیم؟
  % نزاشتیم؟
   */
  max-height:100vh;
  /* SAHEB NEVESHTEH  for transition*/
  opacity: 1;

}

.call-to-action {
  margin: 0px;
  color: var(--color-white) !important;
  padding:0.5rem 4rem;
  font-size: 1.5rem;
  display: none;
  /* دکمه حاشیه داشت پاک کردم */
}
@media screen and (min-width:768px) {
    .nav__toggler{
           display: none;
      }
   .nav__list { 
opacity: 1;      
  width: auto; 
        font-size: 1.5rem;
        flex-direction: row-reverse;
        /* background-color: var(--color-navbar);   */
        justify-content: space-between;
        /* for toggler click */
        /*  SAHEB NEVESHTEH ;*/
        opacity: 1;
        max-height: 100%; 
      }
  .nav__list .list__item{    
            margin-right: 3rem;
      } 
      
}
@media screen and (min-width:991px){ 
  .call-to-action {
    display: block;
  }
  
}
/* toggler */
.bar{
  width: 25px;
  height: 3px;
border-radius: 5px;
background-color: #000;
margin: 0.5rem 0;
transition: all 0.4s ease-in-out;
}
.nav.nav__expanded .bar-one{
transform: rotate(-45deg)  translate(-9px,6px);
margin: 8px 0;
}
.nav.nav__expanded .bar-two{
  opacity: 0;
}
.nav.nav__expanded .bar-three{
  transform: rotate(45deg) translate(-8px,-8px);
  margin: 8px 0;
}
/* hero section */

.hero-section{
  /* منو فیکس هست و عرض 60 پیکسل داره یک پیکسل هم حاشیه داره */
  margin-top: 61px;
  width: 100%;
  /* طبق سایز عکس و محتوا سایت تپسی اینقدر گذاشته */
  height: 478px;
  
  position: relative;

}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-phone{
    display: none;
    position: absolute;
    left: 10%;
    bottom: -50%;
    height: auto;
    width: 420px;
    display: none;

}

.hero-wrapper{
  max-width: 300px;
  height: fit-content;
 
position: absolute;
/* برای وسط چین کردن انجام دادم */
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-btn{
  background-image: linear-gradient( 51deg, rgba(23, 26, 60, 0.7) 5%, rgba(23, 26, 60, 0.3) 95% );
  padding: 1.6rem;
  border-radius: 12px;
  width: 100%;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 row-gap: 1rem;
}
.hero-wrapper h1{
  font-size: 2.5rem;
  color: var(--color-white);
}
.hero-wrapper h2{
  font-size: 1.6rem;
  color: var(--color-white);
}
.intro-btn p{
  font-size: 1.2rem;
  text-align: center;
}
.intro-btn__passenger{
  width: 220px;
  background-color: var(--color-white);
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
}
.intro-btn__passenger:hover{
  
  color: #a0a0a0;
  ;
 
}
.intro-btn__driver {
  width: 220px;
  background-color: transparent;
  padding: 14px;
  border-radius: 12px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  cursor: pointer;
}


.intro-btn__center{ 
  display: flex;
align-items: center;
justify-content: space-around;}

@media screen  and (min-width:768px){
  .hero-wrapper h1{
    width: 100%;
    font-size: 5rem;
  }
  .hero-wrapper h2{
    width: 100%;
    font-size: 2.5rem;
  }
  .intro-btn p{
    font-size: 1.5rem;
  }
  
  .hero-wrapper{
    max-width: 500px; 
    /* در حالت قبل عکس را وسط گذاشتیم حال من میخوام نسیت به موقعیتی مه داره 50 درصد عرض خودش بره راست
    translatex
    نوشتم رفت پایین */
   
 transform: translateY(-50%); 
  }
   .intro-btn{
    border-radius: 20px;
    padding: 25px;
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 1rem;

   }

}
@media screen  and (min-width:1024px){
  .banner-phone {
    display: block;
  }
  
}
/* services-tab */
.services {
  /* border-bottom:1px solid #ddd; */
/* margin: 0 10%; */
  padding-bottom: 100px;
padding-top: 30px;
}
.services__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.services__tabs{
  display: flex;
  overflow: auto;
  justify-content: space-between;
  padding: 5px 0 15px;

}
.services__tabs a{
  max-width: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .services__tabs .tab{
  cursor: pointer;
opacity: 0.4;
transition: all 0.3s ease-in-out;

}
.services__tabs .tab:hover{
  opacity: 1;
}
.services__tabs .tab img{
  display: block;
  width: 100%;
  /* تو حال موبایل عکسها خیلی کوچک میشدند حداقل عرض تعیین کردم */
  /* استاد اینجا یک عرض ماکزیمم 85 پیکسلی تعیین کرده و داخل مدیا کویری عرض رو 100% گذاشته */
  min-width: 85px;
}
.services__tabs p{
  color: #5e5e5e;
font-size: 1.2rem;
margin-top: 1.3rem;
text-align: center;
}
.services__content{
  margin-top: 2rem;
}
.tab__content{
  display: none;
}
.tab__content .feature__image{
  display: none;
}
.tab.active{
  display: block;
  opacity: 1;
}
.tab__content.active{
  display: block;
}
@media screen and (min-width: 768px) {
  .services__tabs p{
  font-size: 1.4rem;
  margin-top: 1rem;
  }
  .services__title {
    font-size: 3.5rem;
  }
  .tab__content .feature__image{
    display: block;
  }

}
/* padding block */
.block {
  padding: 4rem 2rem;
}
@media screen and (min-width:768px) {
  .block {
    padding: 6rem 2rem;
  }
  
}
.block-heading{
  margin-top: 6rem;
}

/* travel */
.travel__slides{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  column-gap: 2rem;
  padding-bottom: 1rem;

}

.travel__slides::-webkit-scrollbar {
  display: none;
}

.travel__slide{
  
  display: flex;
  flex:0 0 260px;
  flex-direction: column;
  align-items: center;

}
.slide__image{

  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}
.slide__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.slide__details{
border-radius: 32px;
background-color:var(--color-white);
padding: 1rem 1.5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
width: 88%;
/* جالب اینجا اصلا \پوزیشن را شناور نکرد و فقط این ایتم فلکس را جابه جا کرد */
transform: translateY(-50px);

}
.slide__header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
}
.slide__header .badge {
  font-size: 1.2rem;
  padding: 0 1rem;
}
.slide__header p {
  font-size: 1.2rem;
}
.slide__description{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #524F4F;
}
.slide__icon{
  margin-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #cacaca;
}
/* avatar */
.avatar-group{
display: flex;
justify-content: flex-start;
align-items: center;

}
.avatar__img{
  cursor: pointer;
width: var(--avatar-size);
height: var(--avatar-size);
border-radius: 100%;
border: 3px solid var(--color-white);
overflow: hidden;
margin-left: -20px;
/* اول اینکه با اینکه عنصر جابجا شده است, جایگاهش در جریان  صفحه حفظ شده است و عناصر مجاور آن جایش را پر نکرده اند.
دوم اینکه زمانی که عنصری را با این حالت جابجا می کنیم این عنصر تاثیری بر دیگر عناصر نخواهد داشت و موجب تکان خوردن و جابجا شدن آنها نخواهد شد.
 */
position: relative;
transition: all 0.5s ease-in-out;

}
.avatar__img:hover{
  transform: translate(10px);
}
.avatar__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;


}
.avatar__hidden{
  width: var(--avatar-size);
height: var(--avatar-size);
background-color: var(--color-primary-light);
color: var(--color-white);
border-radius: 100%;
/* برای اینکه نوشته اش بیاد وسط */
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.avatar__text{
  color: var(--color-primary);
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
/* accordion */
.accordion__heading {
  color: var(--color-body);

}
.accordion__title{
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  border-bottom: 2px solid #ececec;

}
.accordion__title span{
  color: var(--color-primary-light);
}
.accordion__header{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid #ececec;
cursor: pointer;
padding: 2rem 2rem;
}
.accordion__header i{
color: var(--color-primary);  
transition: all 0.5s ease-in-out;

  
  }
.accordion__heading{
  margin-bottom: 0px;
  font-size: 1.8rem;

}
.accordion__content{
  max-height: 0px; 
  overflow: hidden;
   opacity: 0;
  transition: all 0.5s ease-in-out;
}
 .accordion__content  p {
  padding: 1rem 2rem;

font-size: 1.4rem;
color: var(--color-body);
}
.accordion.accordion__expanded  .accordion__content{

  max-height:100vh;
    opacity: 1;

}
.accordion.accordion__expanded  i{
 
 transform: rotate(-90deg);
}
.accordion-wrapper {
  background-color:var(--color-white);
  border-radius: 10px;
  border: 2px solid #ececec;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.05);
  display: none;
}
.accordion__mobile{
  display: block;

}
.accordion__mobile ul{
  font-size: 1.4rem;
  color: var(--color-body);
  padding: 2rem 3rem;
}
@media screen and (min-width: 500px) {
  .accordion__mobile {
    display: none;
  }

  .accordion-wrapper{
    display: block;
  }
}
/* SELEECT TYPE WEBINAR SECTION */
.select-type{
display: flex;
align-items: center;
column-gap: 2rem;

}
.select-container{
  flex-grow: 1;
  
}
.select-container input[type="radio"]{
display: none;
}
.select-container label{
  cursor: pointer;
  padding: 1.5rem 2rem;
  border: 2px solid #ececec;
  border-radius: 3rem;
  text-align: center;
  /* اگر به کانتینر  تغییرات  بالا را بدیم محدوده کلیک کوچیک میشه برای همین به لیبل دادیم */
  width: 100%;
  display: block;
  font-weight: 700;
  color: #444;
  position: relative;
  transition: all 0.3s ease-out;

}
.select-container label::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 100%;
  border: 3px solid #fff;
  right: 3rem;
  /* for align center */
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;


}

.select-container input[type="radio"]:checked + label {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.select-container input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px var(--color-primary);
  background-color: var(--color-primary);
}
